﻿<p>Dear [[User]],</p>


<p>Below is the password needed to access your account on the NCHE online portal. Please save this email for future reference.</p>
    <p><strong>Password: </strong>
        [[password]]</p>

<p> NCHE online portal url: [[url]]</p>  

<p>Thank You! </p>
<p>
Christina Endres<br />
<a href="mailto:cendres@serve.org" target="_blank" title="cendres@serve.org">cendres@serve.org</a><br />
(336) 315-7438<br />
<a href="http://center.serve.org/nche/" target="_blank" title="Center.Serve.org/nche">Center.Serve.org/nche</a> 
</p>