﻿<%@ Page Title="Data Workbook Download" Language="C#"  AutoEventWireup="true" CodeFile="DataWorkbooksDownload.aspx.cs" Inherits="DataWorkbooksDownload" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <asp:Label ID="ErrorMess" runat="server" ForeColor="Red"></asp:Label>
    </div>
    </form>
</body>
</html>