﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PMonitoringEvaldownload.aspx.cs" Inherits="PMonitoringEvaldownload1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <asp:Label ID="ErrorMess" runat="server" ForeColor="Red"></asp:Label>
    </div>
    </form>
</body>
</html>
