﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>National Center for Homeless Education (NCHE)</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/Site1.css" rel="stylesheet" />
	
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <asp:PlaceHolder runat="server">
        <script src="<%: ResolveUrl("~/Scripts/modernizr-2.5.3.js") %>"></script>
    </asp:PlaceHolder>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />



</head>
<body id="MasterPageBodyTag" runat="server">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="jquery.ui.combined" />
            </Scripts>
        </asp:ScriptManager>
        <div class="testme"></div>

<header>
            <div class="content-wrapper content-header">
                <div class="top-header">
                    <a href="#">
                        <img class="logo" src="Images/nche.png"></a>
                    <h1 class="site-title">National Center for Homeless Education</h1>
                </div>
              <nav>
                <div class="float-left">  
				    <ul id="menu">
                         <li>
                            <asp:HyperLink NavigateUrl="~/AllStateDocFiles.aspx" runat="server" Visible="false" ID="LinAdmin" Text="STATE LIST"></asp:HyperLink></li>
                        <li>
                            <asp:HyperLink NavigateUrl="~/AllFilesDownloads.aspx" runat="server" Visible="false" ID="lnkAlldownloads" Text="DOWNLOAD FILES"></asp:HyperLink></li>
                         <li>
                            <asp:HyperLink NavigateUrl="~/StateDownloads.aspx" runat="server" Visible="false" ID="lnkStateDownloads" Text="STATE DOWNLOAD"></asp:HyperLink></li>

                        <li>
                            <asp:HyperLink NavigateUrl="~/LEAdata.aspx" runat="server" Visible="false" ID="HyperLink1" Text="LEA DATA"></asp:HyperLink></li>
                        <li>
                            <asp:HyperLink NavigateUrl="~/SEAdata.aspx" runat="server" Visible="false" ID="HyperLink2" Text="SEA DATA"></asp:HyperLink></li>

                         <li>
                            <asp:HyperLink NavigateUrl="~/UsersList.aspx" runat="server" Visible="false" ID="AdminUserList" Text="ADMIN"></asp:HyperLink></li>
                          <li>
                            <asp:HyperLink NavigateUrl="~/StateDocList.aspx" runat="server" Visible="false" ID="LinkHome" Text="HOME"></asp:HyperLink></li>
                        </ul>
					</div>	
						
				<div class="float-right">
                    <section id="login">
                        <asp:LoginView runat="server" ViewStateMode="Disabled">
                            <AnonymousTemplate>
                                <ul>
                                    <%--   <li><a id="registerLink" runat="server" href="~/StateDocList.aspx" visible="false" >Register</a></li>--%>
                                    <%-- <li><a id="loginLink" runat="server" href="~/LoginS.aspx">Log in</a></li>--%>
                                </ul>
                            </AnonymousTemplate>
                            <LoggedInTemplate>
                                <p>
                                    Hello,
                                    <asp:LoginName runat="server" CssClass="username" /> !
                                
                               

                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/LoginS.aspx" />
                                </p>
                            </LoggedInTemplate>
                        </asp:LoginView>
                    </section>
				</div>	
					               
						
                </nav>
            </div>
   </header>	
   <div class="clear"></div>	
		
	
		
        
        <div id="body">
            <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
            <section class="main-content clear-fix">
                <asp:ContentPlaceHolder runat="server" ID="MainContent" />
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>
                        &copy; <%: DateTime.Now.Year %> - Synergy Enterprises, Inc.
               
                    </p>
                </div>
            </div>
        </footer>
    </form>
    <script>
        $('.testme').css({ width: $('html').outerWidth() + $(window).scrollLeft() });
	</script>
</body>
</html>
