﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StateDocFiles.aspx.cs" Inherits="StateDocFiles" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Literal ID="LiteralMessage" runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>
