﻿<p>Dear [[User]],</p>


<p>Below is the user ID you will need to access your account on the NCHE online portal.<br /> You should receive an email shortly with your password. Please save this email for future reference.</p>
    <p><strong>User Name: </strong>
        [[UserName]]</p>
  <p> NCHE online portal url: [[url]]</p>  

<p>Thank You! </p>
<p>
Christina Endres<br />
<a href="mailto:cendres@serve.org" target="_blank" title="cendres@serve.org">cendres@serve.org</a><br />
(336) 315-7438
</p>